ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

/*
 * Hack to let a block with only floating elements have a height.
 */

.clearfix { display: inline-block; }
.clearfix { display: block; }

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */


/*
 * Layout
 */
 
/* column container */
._colmask_ {
	position:relative;	/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;	/* This chops off any overhanging divs */
}

._col1_ {
	position:relative;
	overflow:hidden;
}
._col2_ {
	position:relative;
}
._colwrap_ {
	position:relative;	    
}
._container_ {
	float:left;
	width:200%;
	position:relative;
}

/* 2 column left menu settings */
._leftmenu_ ._colwrap_ {
	float:right;
}
._leftmenu_ ._col1_ {
	float:left;
}

/* 2 column right menu settings */
._rightmenu_ ._container_ {
	right:100%;
}
._rightmenu_ ._colwrap_ {
	float:left;
}
._rightmenu_ ._col2_ {
	float:right;
}
