ul.menubar{ 
  margin           : 0;
  padding          : 0;
  list-style-type  : none; 
  float            : left; 

/*  border-color     : black;
  border-style     : solid;
  border-width     : 1px;
*/
/*
  border-color     : purple; 
  border-width     : 5px;
  border-style     : solid;
*/
  width            : 100%;
/*  background-color : black;
  color            : white;
*/
}

li.menu { 
  display         : block;
  float           : left;
  list-style-type : none;  
  z-index         : 200; 
/*
  border-color    : gray;
  border-width    : 5px;
  border-style    : solid;
*/
}

span.menuheader { 
  display          : block;
  z-index          : 200; 
  padding-left     : .5em;
  padding-right    : .5em;
  padding-top      : 3px;
  padding-bottom   : 3px;
/*
  border-color     : black;
  border-width     : 5px;
  border-style     : solid;
*/
/*  background-color : black;
  color            : white;
*/  
}

span.menuheader:hover { 
  display          : block;
/*
/*
  border-color     : black;
  border-width     : 5px;
  border-style     : solid;
*/  
  z-index          : 200;
*/
/*
  background-color : white;
  color            : black;
*/ 
}

.menuheader a {
/* 
  background-color : black;
  color            : white;
*/  
}

span.menuheader:hover a, .menuheader a:hover {
/*  
  background-color : white;
  color            : black;
*/  
}

li.menu ul.menuitems { 
  display         : none;
  position        : absolute;
  margin          : 0;
  padding         : 0;
  list-style-type : none;
  z-index         : 200; 
/*  
  border-color    : black;
  border-width    : 1px;
  border-style    : solid;
*/  
}

li.menu:hover ul.menuitems { 
  display         : block;
  margin          : 0;
  padding         : 0;
  list-style-type : none;  
  z-index         : 200;
/*   
  border-color    : black;
  border-width    : 1px;
  border-style    : solid;
*/  
}

ul.menuitems:hover { 
  display         : block;
  margin          : 0;
  padding         : 0;
  list-style-type : none;  
  z-index         : 200; 
/*
  border-color    : brown;
  border-width    : 5px;
  border-style    : solid;
*/
}

li.menuitem {
  z-index          : 200; 
/*
  border-color     : blue;
  border-width     : 5px;
  border-style     : solid;
*/
/*
  background-color : black;
  color            : white;
*/  
  padding-left     : .5em;
  padding-right    : .5em;
}

li.menuitem:hover {
  z-index          : 200; 
/*
  border-color     : lightblue;
  border-width     : 5px;
  border-style     : solid;
*/
/*
  background-color : white;
  color            : black;
*/  
  padding-left     : .5em;
  padding-right    : .5em;
}

li.menuitem a { 
/*
  background-color : black;
  color            : white;
*/  
}

li.menuitem:hover a {
/* 
  background-color : white;
  color            : black;
*/  
}
