body {
  background-color:white;
  color: #000000;
  font-family: Georgia,'Times New Roman','Times',serif;
  font-size : 12pt;
  line-height:1.5em;
  min-width : 800px;
}
em { font-style : italic; }
strong { font-weight : bolder; }
a {
}
a:link {
  color:#336699;
  text-decoration:none;
}
a:visited {
  color:#2B547E;
  text-decoration:none;
}
a:hover {
  color:#336699;
  text-decoration:non;
}
a img {
  border-width:0;
}
blockquote {
  border-left:1px solid #222222;
  font-size:11pt;
  font-style:italic;
  line-height:18px;
  margin:20px;
  padding-left:10px;
}
code {
  font-family:'DejaVu Sans Mono','Courier New',monospace;
  font-size:12pt;
}
h1, h2, h3, h4 {
  font-family:'Helvetica Neue','Helvetica','Arial',sans-serif;
  font-weight:bolder;
}
h1 {
  font-size:30px;
  line-height:36px;
  margin-bottom:18px;
}
h2 {
  font-size:24px;
  line-height:22px;
  margin-bottom:18px;
  margin-top: 20px;
}
h3, h4 {
  font-size:20px;
  line-height:22px;
}
li {
  margin-bottom:4px;
}
p, ul, ol {
  margin-bottom:18px;
}
ul, ol {
  margin-left:2em;
}

ul {
  list-style-type:square;
}
p {
  /* line-height:1.4em; */
}

ul {
  list-style : outside;
}

ul p {
  display : inline;
}

label {
  display : block;
  margin-top : 1em;
  margin-bottom : .1em;
}

td label {
  display : inline;
  margin : 0 1em 0 0;
}

/* generic style for form elements */

form {
  display : inline;
}

select {
  border : 2px solid #cccccc;
  padding : 1px;
}
textarea { 
  border : 2px solid #cccccc;
  padding : 3px;
  margin-bottom : .5em;
  font-family : courier;
}
input { 
  border : 2px solid #cccccc;
  padding : 3px;
  margin-right : .5em;
  margin-bottom : .5em;
  font-family : courier;
}
textarea:focus { 
  border : 2px solid #444444;
  background : #eeeeee;
}
input:focus { 
  border : 2px solid #444444;
  background : #eeeeee;
}
input:hover{  
  background : #eeeeee;
}
textarea:hover{ 
  background : #eeeeee;
}

input.button { 
  border : 1px solid #777777;
  height : auto;
  /*line-height: 1em;*/
  vertical-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-family : georgia, sans-serif;
  clear:both;
  float: left;
}
input.button:focus {
  
}
input.button:hover { 
  background : #aaaaaa;

}

/* generic sizes for form elements */

textarea.inputTextarea { 
  min-height : 20em;
  min-width  : 95%;
  max-width : 50em;
}
input.inputString{ 
  width : 40em;
}
input.inputSecret{ 
  width : 40em;
}
input.inputURL{ 
  width : 40em;
}

table {
  margin : 10px 0 10px 0;
  border-bottom : 1px solid black;
  border-left : 1px solid black;
  border-right : 1px solid black;
  border-spacing : 0;
}
tr {
  padding : 0;
  margin : 0;
}
td {
  padding :5px 5px 5px 5px;
  margin : 0;
  border-top : 1px solid black;
}


