div.sdmenu {
	width: 200px;
	padding-bottom: 0;
	color: #fff;
	border-bottom: 1px solid #ddd;
}
div.sdmenu div {
	overflow: hidden;
}
div.sdmenu div:first-child {

}
div.sdmenu div.collapsed {
	height: 2.1em;
}
div.sdmenu div span {
	display: block;
	padding: 0.4em 2.2em;
	color: black;
	background: url(../images/expanded_black.gif) no-repeat 10px center;
	cursor: default;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
div.sdmenu div span a {
        padding: 0;
        background-color: white;
        width: 1;
        text-decoration: none;
        display: normal;
        border-bottom: 0;
        color: black;
}

div.sdmenu div span > a {
        width: 0;
}

div.sdmenu div span:hover {
        background-color: #C19674;
}
div.sdmenu div.collapsed span {
	background-image: url(../images/collapsed_black.gif);
}
div.sdmenu div a {
	padding: 0.4em 2.2em;
	background: #eee;
	display: block;
	border-bottom: 1px solid #ddd;
/* 	color: #066; */
	color: black;
}

div.sdmenu div > a.current {
	background : #ccc;
}
div.sdmenu div > a:hover {
	background : #606060 url(../images/linkarrow.gif) no-repeat right center!important;
	color: white !important;
	text-decoration: none;
}

div.sdmenu hr {
	background-color: white;
	display: block;
	border: 1px solid lightgrey;
	margin: 0px;
	padding: 2px;
}
