/test/fail/webservice/acMissingRules.out
/test/fail/webservice/acMissingRules.sh
/test/fail/webservice/acMissingPrincipal.out
/test/fail/webservice/acMissingPrincipal.sh
/test/fail/webservice/acWrongType.out
/test/fail/webservice/acWrongType.sh
/test/fail/webservice/notExcistingPropertyRestricted.out
/test/fail/webservice/notExcistingPropertyRestricted.sh
/test/fail/webservice/notRestrictIdProperty.out
/test/fail/webservice/notRestrictIdProperty.sh
/test/fail/webservice/notRestrictNameProperty.out
/test/fail/webservice/notRestrictNameProperty.sh
/test/fail/webservice/empty.out
/test/fail/webservice/empty.sh
/test/fail/webservice/wrongTypeNameProperty.out
/test/fail/webservice/wrongTypeNameProperty.sh
/test/fail/webservice/application.ini
/test/fail/webservice/notExcistingProperty.out
/test/fail/webservice/notExcistingProperty.sh
/test/fail/webservice/temp_test.db
/test/fail/webservice/.webdsl-parsecache/notExcistingProperty.app9.7pre0.parsecache
**.dependencies.webdsl
/.saved-but-not-built
/.servletapp/src-webdsl-template/built-in.app
/src/strategoxt.jar
/src/webdsl.jar
/src/webdslversionterm.trm
/src/xml-doc.rtg.af
/test/Makefile
/test/Makefile.in
/test/generatenix.sh
/test/run
/test/run-test-fail-servlet.sh
/test/run-test-fail.sh
/test/run-test-succeed-all-servlet.sh
/test/run-test-succeed-all.sh
/test/run-test-succeed-web-all.sh
/test/succeed-web/webtests.nix
/webdsls.pc


/src/org/webdsl/dsl/syntax/CSS-pretty.pp.af
/src/org/webdsl/dsl/syntax/CSS.def
/src/org/webdsl/dsl/syntax/CSS.dep
/src/org/webdsl/dsl/syntax/CSS.rtg
/src/org/webdsl/dsl/syntax/CSS.str
/src/org/webdsl/dsl/syntax/CSS.tbl
/src/org/webdsl/dsl/syntax/HQL-pretty.pp.af
/src/org/webdsl/dsl/syntax/HQL.def
/src/org/webdsl/dsl/syntax/HQL.dep
/src/org/webdsl/dsl/syntax/HQL.rtg
/src/org/webdsl/dsl/syntax/HQL.str
/src/org/webdsl/dsl/syntax/MixHQL.sdf
/src/org/webdsl/dsl/syntax/Stratego-WebDSL-Java-XML.def
/src/org/webdsl/dsl/syntax/Stratego-WebDSL-Java-XML.dep
/src/org/webdsl/dsl/syntax/Stratego-WebDSL-Java-XML.tbl
/src/org/webdsl/dsl/syntax/StrategoCSS.def
/src/org/webdsl/dsl/syntax/StrategoCSS.dep
/src/org/webdsl/dsl/syntax/StrategoCSS.tbl
/src/org/webdsl/dsl/syntax/StrategoWebDSL.def
/src/org/webdsl/dsl/syntax/StrategoWebDSL.dep
/src/org/webdsl/dsl/syntax/StrategoWebDSL.tbl
/src/org/webdsl/dsl/syntax/WebDSL-pretty.pp.af
/src/org/webdsl/dsl/syntax/WebDSL.def
/src/org/webdsl/dsl/syntax/WebDSL.dep
/src/org/webdsl/dsl/syntax/WebDSL.rtg
/src/org/webdsl/dsl/syntax/WebDSL.str
/src/org/webdsl/dsl/syntax/WebDSL.tbl
/src/org/webdsl/dsl/syntax/mobl/MoBL.dep
/src/org/webdsl/dsl/syntax/mobl/MoBL.rtg
/src/org/webdsl/dsl/syntax/mobl/MoBL.str
/src/org/webdsl/dsl/syntax/mobl/Stratego-Javascript.def
/src/org/webdsl/dsl/syntax/mobl/Stratego-Javascript.dep
/src/org/webdsl/dsl/syntax/mobl/Stratego-Javascript.tbl
/src/org/webdsl/dsl/syntax/mobl/Stratego-MoBL.def
/src/org/webdsl/dsl/syntax/mobl/Stratego-MoBL.dep
/src/org/webdsl/dsl/syntax/mobl/Stratego-MoBL.tbl
/src/org/webdsl/dsl/project/template-java-servlet/lib/webdsl-built-ins.jar
/src/org/webdsl/dsl/project/template-java-servlet/lib/webdsl-support.jar
/src/org/webdsl/dsl/project/testnewproject.sh
/src/org/webdsl/dsl/project/webdsl
/src/org/webdsl/dsl/project/webdsl-eclipseplugin
/src/org/webdsl/dsl/project/webdsl-plugins
/src/org/webdsl/dsl/project/Makefile
/src/org/webdsl/dsl/project/Makefile.in
/java-front.m4
/src/Java-EBlock.rtg.af
/src/Makefile
/src/Makefile.in

/precompile-built-ins/compile_output.txt
/precompile-built-ins/dist/webdsl-built-ins.jar

/java-runtime/dist/webdsl-support.jar
/libtool
/libtool.m4
/ltoptions.m4
/ltsugar.m4
/ltversion.m4
/lt~obsolete.m4

/BUILDTIME_XTC
/INSTALL
/Makefile
/Makefile.in
/Makefile.xt
/Untitled Document
/aclocal.m4
/autom4te.cache/output.0
/autom4te.cache/output.1
/autom4te.cache/requests
/autom4te.cache/traces.0
/autom4te.cache/traces.1
/autoxt.m4
/config.log
/config.status
/config/config.guess
/config/config.sub
/config/depcomp
/config/install-sh
/config/ltmain.sh
/config/missing
/configure
/java-front.m4
/.cache/*
/bin/*
/java-runtime/bin/*
/src/bin/*
/**/.servletapp/**
/test/fail/**/.servletapp/**
/test/fail/**/.webdsl-parsecache/*
/precompile-built-ins/.webdsl-fragment-cache/*
/precompile-built-ins/.webdsl-parsecache/*
/src/.deps/*
/src/*.c
/src/*.ctree
/src/*.ctree.dep
/src/**.rtree
/src/*.rtree.dep
/src/src-gen/org/webdsl/back_end_transformations/*
/src/src-gen/org/webdsl/java_transformations/*
/src/src-gen/org/webdsl/to_java_servlet/*
/src/src-gen/org/webdsl/webdsl_front/*
/src/src-gen/org/webdsl/java_pp_fake/*
/src/src-gen/org/webdsl/write_files/*
/src/src-gen/org/webdsl/*
/src/src-gen/org/webdsl/webdsl_generator/*


*.rtree
src/share
strategoxt-distrib-*.tar*
src/nix-support
config
src/org/webdsl/dsl/syntax/Stratego-WebDSL-Java.def
src/org/webdsl/dsl/syntax/Stratego-WebDSL-Java.dep
src/org/webdsl/dsl/syntax/Stratego-WebDSL-Java.tbl
test/succeed/.webdsl-fragment-cache
test/succeed/.webdsl-parsecache
test/succeed/application.ini
test/succeed/temp_test.db
test/succeed-web/.webdsl-fragment-cache
test/succeed-web/.webdsl-parsecache
test/succeed-web/application.ini
test/succeed-web/temp_test.db
test/succeed-web/types/.webdsl-fragment-cache
test/succeed-web/types/.webdsl-parsecache
test/succeed-web/types/application.ini
test/succeed-web/types/temp_test.db
test/fail/.webdsl-fragment-cache
test/fail/.webdsl-parsecache
test/fail/application.ini
test/fail/temp_test.db
test/fail/*.app.out
test/syntax/Jsglr.class
test/syntax/spoofax-sunshine.jar


src/org/webdsl/dsl/project/template-java-servlet/lib/*.jar
!src/org/webdsl/dsl/project/template-java-servlet/lib/bobo-browse-3.1.1-SNAPSHOT.jar
!src/org/webdsl/dsl/project/template-java-servlet/lib/cglib-2.2.jar
!src/org/webdsl/dsl/project/template-java-servlet/lib/fastutil-minified-6.4.4.jar
!src/org/webdsl/dsl/project/template-java-servlet/lib/jasypt-1.9.3.jar
!src/org/webdsl/dsl/project/template-java-servlet/lib/jta-1.1.jar
!src/org/webdsl/dsl/project/template-java-servlet/lib/mail.jar
!src/org/webdsl/dsl/project/template-java-servlet/lib/servlet-api.jar
!src/org/webdsl/dsl/project/template-java-servlet/lib/xebia-servlet-extras-1.0.7.jar
!src/org/webdsl/dsl/project/template-java-servlet/lib/javaxt-core.jar
!src/org/webdsl/dsl/project/template-java-servlet/lib/servlet-3.1.1.jar

src/org/webdsl/dsl/project/template-java-servlet/lib-test/*.jar
!src/org/webdsl/dsl/project/template-java-servlet/lib-test/cargo-core-uberjar-1.0.3-PATCHED.jar
!src/org/webdsl/dsl/project/template-java-servlet/lib-test/nailgun-server-0.9.2-SNAPSHOT.jar
!src/org/webdsl/dsl/project/template-java-servlet/lib-test/strategoxt-lib.jar
!src/org/webdsl/dsl/project/template-java-servlet/lib-test/catalina-ant.jar
!src/org/webdsl/dsl/project/template-java-servlet/lib-test/selenium-java-2.44.0.jar
*.aterm
*.parsecache
.DS_Store
temp_test.db
application.ini
test/syntax/ast2text/bin
test/syntax/ast2text/src-gen


*.iml
.idea/
src/org/webdsl/dsl/project/template-java-servlet/lib/.settings/
src/org/webdsl/dsl/project/template-java-servlet/lib/.project
src/org/webdsl/dsl/project/template-java-servlet/lib-test/.settings/
src/org/webdsl/dsl/project/template-java-servlet/lib-test/.project

autom4te.cache/
