<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="nwl" description="nwl" language="nwl" derivedFrom="DynamicRoot" validator="nwl.NwlValidator" validatorClass="nwl.NwlValidator"></language>
       </extension>
       <extension id="nwl.parser" name="nwl Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="nwl.NwlParseController" language="nwl">
          </parser>
       </extension>    
    </plugin>