<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>SDF/Stratego</string>
	<key>ordering</key>
	<array>
		<string>3586D935-D82B-47B7-A1D5-0582A2E0F19C</string>
		<string>C319B6E6-2BE2-45DC-B0E9-815950B76F01</string>
		<string>9F825397-2F60-42AB-B082-80E9D4305194</string>
		<string>9DDED775-B015-446D-A71A-25C72710AC9B</string>
	</array>
	<key>uuid</key>
	<string>A0C5ACED-B719-4E54-9702-15794DB4D51B</string>
</dict>
</plist>
