/* 
  ------------------------------------
  PVII Menu CSS Express Drop-Down Menu
  by Project Seven Development
  www.projectseven.com
  ------------------------------------
*/

.menuwrapper {
	border: 1px solid #000;
        background-color: white;
        height: 24px;
}

#p7menubar {
	width: auto;
}

#p7menubar, #p7menubar ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
	font-family: Arial, Helvetica, sans-serif;
}

#p7menubar a {
	display: block;
	text-decoration: none;
	padding: 4px 5px 0px 5px;
	margin: 0px;
	border-right: 1px solid #333;
	font-size: 12px;
	color: black;
	height: 20px;
}

#p7menubar a.trigger {
	background-image: url(../images/p7PM_dark_south.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding: 4px 20px 0px 5px;
}

#p7menubar li {
	float: left;
	width: 200px;
	padding: 0px;
	margin: 0px;
	z-index: 100;
}

#p7menubar li { position: relative; }

/* hide from IE mac \*/
#p7menubar li { position: static; width: auto; }
/* end hiding from IE5 mac */

#p7menubar li ul, #p7menubar ul li  {
 	width: 198px;
}

#p7menubar ul li a  {
	color: #565656;
	border-right: 0;
	padding: 4px 5px 0px 5px;
}

#p7menubar li ul {
	position: absolute;
	display: none;
	background-color: #FFFFFF;
	border: 1px solid #333333;
}

#p7menubar li:hover a, #p7menubar a:focus,
#p7menubar a:active, #p7menubar li.p7hvr a {
	color: black;
	background-color: #C19674;
}

#p7menubar li:hover ul, #p7menubar li.p7hvr ul {
	display: block;
}

#p7menubar li:hover ul a, #p7menubar li.p7hvr ul a {
	color: black;
	background-color: transparent;
}

#p7menubar ul a:hover {
	background-color: #606060!important;
	color: white !important;
}
