
/********************************************************

 POSITIONING
 
 ********************************************************/
 
/* see http://www.w3schools.com/css/css_positioning.asp */

/* divide page into two columns, outersidebar and outerbody */

.outersidebar {
  position         : absolute;
  overflow         : hidden;
  top              : 0px;
  left             : 10px;
  margin-top       : 10px;
  width            : 10em;
  /* for testing */
  //background-color : white; 
  //border           : 1px solid black;
  //padding          : 1px;
}

.outerbody {
  position      : absolute;
  top           : 10px;
  left          : 12.5em;
  right         : 40px;
  /* for testing */
  //border        : 1px solid black;
  //padding       : 1px;
}

/* sidebar stacks logo and the proper sidebar */

.logo {
  text-align : left;
  /* for testing */
  //background-color : white;
  //border     : 1px solid black;
  //padding    : 1px;
}

.sidebar {
  //position         : relative;
  top                : 0px;
  margin-top         : 20px;
  color              : darkblue;
  /* for testing */
  //background-color : white;
  //border           : 1px solid #999;
  //padding          : 1px;
  
  border-right : 1px dotted lightgrey;
}

.menubar {
  height             : 62px;
  border-bottom      : 1px dotted lightgrey;
  color              : darkblue;
  /* for testing */
  background-color : white;
  //border           : 1px solid #999;
  //padding          : 2px;
  //border-bottom    : dotted 1px lightgrey;
}

.body {
  position      : relative;
  top           : 10px;
  margin-bottom : 2.5em;
  /* for testing */
  //background-color : white;
  //border        : 1px solid #999;
  //padding       : 1px;
}

.footer {
  border-top : 1px dotted lightgrey;
  //position      : relative;
  /* for testing */
  //background-color : white;
  //border        : 1px solid #999;
  //padding       : 1px;
}

/********************************************************

 CUSTOM ELEMENTS
 
*********************************************************/
 
div.photo {
  float : right;
}

.photo img {
  width : 240px;
}

/********************************************************

 FONTS and COLORS
 
*********************************************************/
 
body {
  //background-color : #eeeeee;
  background-color : white;
  color            : darkblue;
  font-family      : sans-serif;
  font-size        : 11pt;
}

h1 {
  font-size : 150%;
}
h2 {
  font-size : 130%;
}
h3 {
  font-size : 115%;
}
h4 {
  font-size : 100%;
}

.footer{
  text-align    : center;
  font-size     : 0.8em;
}

img {
  border : 0px;
}

a {
  color: blue;    
  text-decoration : none;
}

a:active, a:link, a:visited {
}

a:hover {
  text-decoration:underline;
}

ul {
  margin     : 1em;
  padding    : 0em;
}

li {
  margin-bottom : 0.8em;
  margin-left   : 1em;
}

/********************************************************

 SIDEBAR
 
*********************************************************/

/* see http://www.css3.com/property/list-style/ */

.sidebar {
  font-size : 1em;
}

.sidebar ul {
  list-style : none;
  margin     : 0em;
  padding    : 0px;
}

.sidebar ul li {
  margin     : 0em;
  padding    : 0px;
}

.sidebar ul ul {
  list-style-type : square;
  font-size       : .8em;
  padding         : .2em;
  margin-left     : 1em;
}

.sidebar  ul li {
  margin-bottom : 1em;
}

.sidebar ul ul li {
  margin-bottom : 0.2em;
}

.sidebar ul ul ul li  {
  margin-bottom : 0em;
}

/********************************************************

 DROPDOWN MENUS
 
*********************************************************/

.menu {
  background  : white;
  //float       : left;
  position    : relative;
  top         : 2.5em;
}

.menu ul {
  list-style   : none;
  margin       : 0em;
  margin-right : 1em;
  padding      : 0px;
  //width      : 6em;
  float        : left;
}

.menu li {
  position         : relative;
  padding          : 0px;
  margin           : 0em;
  background-color : white;
  border-left      : solid 1px white;
  border-top       : solid 1px white;
  border-right     : solid 2px white;
}

.menu ul ul, 
.menu ul li table {
  position : absolute;
  z-index  : 500;
  border   : 1px;
  top      : 23px;
  left     : -1px;
  font-size : 10pt;
}

.menu ul ul ul {
  top  : 0;
  left : 100%;
}

.menu li:hover {
  background-color : white;
  border-left      : solid 1px lightgrey;
  border-top       : solid 1px lightgrey;
  border-right     : solid 2px grey;
  border-bottom    : dotted 1px grey;
}

.menu ul ul li:hover {
  background-color : white;
  border           : 0px;
}

div.menu ul ul,
div.menu ul li:hover ul ul,
div.menu ul ul li:hover ul ul,
div.menu ul li table 
{
  display: none;
}

div.menu ul li:hover ul,
div.menu ul ul li:hover ul,
div.menu ul ul ul li:hover ul,
div.menu ul li:hover table 
{
  display          : block;
  width            : 9em;
  border-left      : solid 1px lightgrey;
  border-top       : dotted 1px grey;
  border-right     : solid 2px grey;
  border-bottom    : solid 2px grey;
  background-color : white;
}


/********************************************************

 INPUT ELEMENTS
 
*********************************************************/

.inputString {
  width : 40em;
}

.inputEmail {
  width : 40em;
}

.inputURL {
  width : 40em;
}

.inputDate {
  width : 20em;
}

.inputInt {
  width : 20em;
}

/* for IE */
textarea .inputText {
  height : 20em;
  width  : 100%;
}
/* for other browsers */
textarea,[nul] .inputText {
   height : 20em;
   width  : 40em;
   /* border : solid 1px black;
   border-right : 0px;
   padding-left : 3px; */
   
   border : inset 2px lightgrey;
}

.editRows table {
  width : 100%;
}

.editRows tr {
  margin-top : 10px;
}

td {
  vertical-align : top;
  /* padding-bottom : 10px; */
}

/************************************************************************/

/* Seam Date Picker */

/* the div that holds the date picker calendar */
.seam-date {

}


/* the table (within the div) that holds the date picker calendar */
.seam-date table {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #505050;
    background: #fff url(../img/input.bg.gif) 0 0 repeat-x;
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    margin-top: 5px;
}


.seam-date-title div {
    font-size: 12px;
    color: gray;
    font-weight: bold;
}


/* the forward/backward buttons at the top */
.seam-date-title button{
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: gray;
    background: #FFFFFF;
    font-weight: bold;
    padding: 0px;
    border: 1px solid #AAAAAA;
}


/* the "This Month" and "Close" buttons at the bottom */
.seam-date-footer {
	display: none;
}

.seam-date-footer button {
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: gray;
    background: #FFFFFF;
    font-weight: bold;
    border: 1px solid #AAAAAA;
}



/* a table cell that holds the names of days of the week (Mo, Tu, We, etc.) */
.seam-date-header td {
    background-color: #CCCCCC;
    border: 1px solid #AAAAAA;
    color: white;
}



/* a table cell that holds a date number (either blank or 1-31) */
.seam-date-week td.seam-date-day {
    border: 1px solid #ece9d8;	
}

/* the date number table cell that the mouse pointer is currently over (you can use contrasting colors to make it apparent which cell is being hovered over) */
.seam-date-week td.seam-date-hover  {
    background-color: #CCCCCC;
    border: 1px solid #AAAAAA;
    cursor: pointer;
    color: red;
}


/* additional style information for the cell that holds a highlighted day (usually either today's date or the current date field value) */ 
.seam-date-week td.seam-date-selected {
    background-color: #CCCCCC;        
    border: 1px solid #AAAAAA;
    font-weight: bold;
}

/* style information for weekends */
/*
.seam-date td.weekend {
    color: #c00;
    border: 1px solid #f99;
}
*/
