div.sdmenu {
	width: 200px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	padding-bottom: 0px;
/* 	background: url(../images/bottom.gif) no-repeat  right bottom; */
	color: #fff;
	border-bottom: 1px solid #ddd;
}
div.sdmenu div {
/* 	background: url(../images/title.gif) repeat-x; */
	overflow: hidden;
}
div.sdmenu div:first-child {
/* 	background: url(../images/toptitle.gif) no-repeat; */
}
div.sdmenu div.collapsed {
	height: 25px;
}
div.sdmenu div span {
	display: block;
	padding: 5px 25px;
/* 	font-weight: bold; */
	font-size: 12px;
	color: black;
	background: url(../images/expanded_black.gif) no-repeat 10px center;
	cursor: default;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
div.sdmenu div span a {
/*         font-weight: bold; */
        color: black;
}
div.sdmenu div span:hover {
        background-color: #C19674;
}
div.sdmenu div.collapsed span {
	background-image: url(../images/collapsed_black.gif);
}
div.sdmenu div > a {
	padding: 5px 10px;
	background: #eee;
	display: block;
	border-bottom: 1px solid #ddd;
/* 	color: #066; */
	color: black;
}
div.sdmenu div > a.current {
	background : #ccc;
}
div.sdmenu div > a:hover {
	background : #606060 url(../images/linkarrow.gif) no-repeat right center!important;
	color: white !important;
	text-decoration: none;
}

div.sdmenu div hr {
	background: #eee;
	display: block;
}