/********************************************************

 MAIN LAYOUT
 
 ********************************************************/

body {
  width            : 1000px;
  margin           : 10px auto 0px auto;
  border           : solid 1px darkgray;
  background-color : lightgrey;
  color            : black;
  font-family      : sans-serif;
  font-size        : 0.75em;
}

/********************************************************

 POSITIONING
 
 ********************************************************/
 
/* see http://www.w3schools.com/css/css_positioning.asp */

/* divide page into two columns, outersidebar and outerbody */

.outersidebar {
/*  position         : absolute;
  overflow         : hidden;
  top              : 0px;
  left             : 10px;
  margin-top       : 10px;
  width            : 250px;*/
}

.outerbody {
/*  position      : absolute;
  top           : 10px;
  left          : 260px;
  right         : 40px;*/
  
}

.body {
/*   background-color: beige; */
/*   width: 100%; */
/*   height: 100%; */
  background-color: white;
}

.top {
  background-color: white;
}

/* sidebar stacks logo and the proper sidebar */

.left_innerbody {
  float: left;
/*   position: absolute; */
  width: 150px;
  margin: 0px 0px 10px 10px;
  
/*   padding-top: 10px; */
/*   padding: 0px; */
/*   background-color: yellow; */
clear:left;
}

.main_innerbody {
/* position: absolute; */
  margin: 0px 10px 0px 10px;
  border-left : 1px dotted grey;
/*   margin: 0px 10px 10px 210px; */
/*   left: 210px; */
  padding: 0px 0px 10px 20px;
/*   background-color: lightgreen; */
/* display: inline-block; */
  display: inline-block;
  overflow: hidden;
}

.main_innerbody input {
  float: left;
/*   margin-left: 0.5em; */
  margin-bottom: 10px;
  display: block;
  
/*   margin-left: 210px; */
}

.logo {
  text-align : left;
}

.header {
  background-image : url(../images/WebDSL-small.png);
  background-repeat: no-repeat;
  background-position: top left;
  height : 50px;
}

.sidebar {
/*   top                : 0px; */
/*   margin-top         : 20px; */
/*   color              : darkblue; */
/*   border-right       : 1px dotted grey; */
}

.menubar {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
/*   margin-bottom: 12px; /* Hack to align main_innerbody and left_innerbody to the top in opera and ie */
}

.footer {
  border-top : 1px dotted gray;
  background-color: white;
/*   clear: both; */
}

.left_footer {
  float: left;
  padding: 5px;
}

.right_footer {
  padding: 5px;
  text-align: right;
}

/********************************************************

 CUSTOM ELEMENTS
 
*********************************************************/
 
div.photo {
  float : right;
}

.photo img {
  width : 240px;
}

/********************************************************

 FONTS and COLORS
 
*********************************************************/
 
h1 {
  font-size : 150%;
}
h2 {
  font-size : 130%;
}
h3 {
  font-size : 115%;
}
h4 {
  font-size : 100%;
}

.footer{
  text-align    : center;
  font-size     : 0.8em;
}

img {
  border : 0px;
}

a {
  color: darkblue;
  text-decoration : none;
}

a:active, a:link, a:visited {
}

a:hover {
  text-decoration: underline;
}

/********************************************************

 SIDEBAR
 
*********************************************************/

/* see http://www.css3.com/property/list-style/ */

/*.sidebar {
  font-size : 1em;
}

.sidebar ul {
  list-style : none;
  margin     : 0em;
  padding    : 0px;
}

.sidebar ul li {
  margin     : 0em;
  padding    : 0px;
}

.sidebar ul ul {
  list-style-type : square;
  font-size       : .8em;
  padding         : .2em;
  margin-left     : 1em;
}

.sidebar  ul li {
  margin-bottom : 1em;
}

.sidebar ul ul li {
  margin-bottom : 0.2em;
}

.sidebar ul ul ul li  {
  margin-bottom : 0em;
}*/

/********************************************************

 TABLES
 
*********************************************************/

table {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  border-collapse: collapse;
  empty-cells: show;
  margin: 5px 0px 5px 0px;
}

table tr {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

table tr th {
  vertical-align: top;
  font-weight: bold;
  border-bottom: 2px solid gray;
}

table tr td {
  vertical-align: top;
  padding: 4px 10px 4px 10px;
}

table table {
  border-top: 0;
  border-bottom: 0;
  padding: 0px 10px 0px 10px;
  margin: 0px;
}

table table tr {
  border-top: 0;
  border-bottom: 0;
  padding: 0px;
  margin: 0px;
}

table table tr td {

}

/********************************************************

 INPUT ELEMENTS
 
*********************************************************/

.inputString {
  width : 40em;
}

.inputEmail {
  width : 40em;
}

.inputURL {
  width : 40em;
}

.inputDate {
  width : 20em;
}

.inputInt {
  width : 20em;
}

/* for IE */
textarea .inputText {
  height : 20em;
  width  : 100%;
}
/* for other browsers */
textarea,[nul] .inputText {
   height : 20em;
   width  : 40em;
   /* border : solid 1px black;
   border-right : 0px;
   padding-left : 3px; */
   
   border : inset 2px lightgrey;
}

.editRows table {
  width : 100%;
}

.editRows tr {
  margin-top : 10px;
}
