/* 
  ------------------------------------
  PVII Menu CSS Express Drop-Down Menu
  by Project Seven Development
  www.projectseven.com
  ------------------------------------
*/

.menuwrapper {
        height: 2.1em;
        margin: 0;
        padding: 0;
}

#p7menubar {
	width: 100%;
	margin: 0;
        padding: 0;
}

#p7menubar, #p7menubar ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#p7menubar a {
	display: block;
/* 	text-decoration: none; */
	border-right: 1px solid #333333;
	color: black;
	background-color: white;
	margin: 0;
        padding-left: 0.4em;
        padding-right: 0.4em;
        line-height: 2.1em;
}

#p7menubar > li:first-child {
	border-left: 1px solid #333333;
}

#p7menubar a.trigger {
	background-image: url(../images/arrow_down.gif);
	background-repeat: no-repeat;
	background-position: right center;
        padding-right: 2em;
}

#p7menubar li {
	float: left;
	padding: 0px;
	margin: 0px;
	z-index: 200;
}

#p7menubar li { position: relative; z-index: 200; }

/* hide from IE mac \*/
#p7menubar li { position: static; width: auto; z-index: 200; }
/* end hiding from IE5 mac */

#p7menubar li ul {
 	width: 20em;
 	z-index: 200;
 	margin: 0;
	padding: 0;
}

#p7menubar ul li  {
        clear: both;
 	width: 20em;
 	z-index: 200;
 	margin: 0;
	padding: 0;
}

#p7menubar ul li a  {
	color: #565656;
	border-right: 0;
        padding: 0.3em;
        margin: 0;
	z-index: 200;
	line-height: 1.5em;
/* 	text-decoration: none; */
}

#p7menubar li ul {
	position: absolute;
	display: none;
	margin: 0;
	padding: 0;
/* 	background-color: #eee; */
	background-color: white;
	border: 1px solid #333333;
	z-index: 200;
}

#p7menubar li:hover a, #p7menubar a:focus,
#p7menubar a:active, #p7menubar li.p7hvr a {
	color: black;
	background-color: #C19674;
/*         background-color: #902020; */
	z-index: 200;
}

#p7menubar li:hover ul, #p7menubar li.p7hvr ul {
	display: block;
	z-index: 200;
	background-color: white;
	margin: 0;
	padding: 0;
}

#p7menubar li:hover ul a, #p7menubar li.p7hvr ul a {
	color: black;
	background-color: white;
	z-index: 200;
}

#p7menubar ul a:hover {
	background-color: #606060!important;
	color: white !important;
	z-index: 200;
}
