body {
  background-color : #ffffff;
  color            : black;
  font-family      : Verdana, sans-serif;
  font-size        : 0.75em;
}

textarea {
  width: 300px;
  height: 150px;
}

input .inputString {
  width: 300px;
}

td {
  vertical-align: top;
  padding: 3px;
}

p {
  margin: 0px 0px 5px 0px;
}
